@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@700&family=Poppins&display=swap');

body {
    margin:0;
    padding: 0;
    box-sizing:border-box;
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;

}
/* Classes */

.navbar-dark {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.2rem;
    background: rgba(0,0,0,0.6)!important;
    
    padding: 10px 0;

}
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    padding-left: 20px;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
    color:rgb(9, 160, 160);
}
.image-content {
    position: absolute;
    top: 40%;
    width: 100%;
    max-width: 100;
}
.image-content h1 {
    font-size: 2em;
    font-weight: 290;
    color:white;
    font-family: monospace;

}
.image-content h2 {
    font-size: 4em;
    font-weight: bolder;
    color:white;
    font-family: 'Poppins', sans-serif; 
}
.image-content p {
    font-size: 1em;
    font-weight: lighter;
    text-transform: uppercase;
    color:white;
    word-spacing: 5px;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif; 
}

/* IDs */

#about .btn {
    border:2px solid transparent;
    width: 40%;
    padding: 14px 22px;
    background: black;
    border-radius: 7px;
    margin-top: 10px;
}
#about .btn a {
    color:white;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
}

#about .btn:hover{
   border: 2px solid rgba(9, 160, 160);
   cursor: pointer;
}