@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@700&family=Poppins&display=swap');

body {
    margin:0;
    padding: 0;
    box-sizing:border-box;
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;

}
/* Classes */

.navbar-dark {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.2rem;
    background: rgba(0,0,0,0.6)!important;
    
    padding: 10px 0;

}
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    padding-left: 20px;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
    color:rgb(9, 160, 160);
}
.image-content {
    position: absolute;
    top: 40%;
    width: 100%;
    max-width: 100;
}
.image-content h1 {
    font-size: 2em;
    font-weight: 290;
    color:white;
    font-family: monospace;

}
.image-content h2 {
    font-size: 4em;
    font-weight: bolder;
    color:white;
    font-family: 'Poppins', sans-serif; 
}
.image-content p {
    font-size: 1em;
    font-weight: lighter;
    text-transform: uppercase;
    color:white;
    word-spacing: 5px;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif; 
}
.nav-link{
    color:white
}
.poppin{
    color: white;
    font-family: 'Poppins', sans-serif;
}
.contact{
    align-items: center;
    background-color: rgb(8, 8, 8);
    border-radius:10%;
    

}
.contact:hover .card-icon{
    background: transparent;
    color:rgb(9, 160, 160);
}
.card-icon{
    font-size: 28px;
    background:rgb(9, 160, 160);
    width:50px;
    height:50px;
    justify-content: center;
    line-height: 60px  !important;
    border-radius: 50%;
    transition: 0.3s linear;
}


.btn{
    justify-content: center !important;
}


.btn:hover{
   border: 2px solid rgba(9, 160, 160);
   cursor: pointer;
}
#self {
    border-radius: 15px;
}